HangZhouService/Service References/ServiceReference1/yService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logistics_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="app_No" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetExam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logistics_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="app_No" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="checkWay" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="checkResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inspectionStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetExamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetExamResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetExamSoapIn">
    <wsdl:part name="parameters" element="tns:SetExam" />
  </wsdl:message>
  <wsdl:message name="SetExamSoapOut">
    <wsdl:part name="parameters" element="tns:SetExamResponse" />
  </wsdl:message>
  <wsdl:portType name="yServiceSoap">
    <wsdl:operation name="GetInfo">
      <wsdl:input message="tns:GetInfoSoapIn" />
      <wsdl:output message="tns:GetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetExam">
      <wsdl:input message="tns:SetExamSoapIn" />
      <wsdl:output message="tns:SetExamSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="yServiceSoap" type="tns:yServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExam">
      <soap:operation soapAction="http://tempuri.org/SetExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="yServiceSoap12" type="tns:yServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExam">
      <soap12:operation soapAction="http://tempuri.org/SetExam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="yService">
    <wsdl:port name="yServiceSoap" binding="tns:yServiceSoap">
      <soap:address location="http://localhost:2851/yService.asmx" />
    </wsdl:port>
    <wsdl:port name="yServiceSoap12" binding="tns:yServiceSoap12">
      <soap12:address location="http://localhost:2851/yService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>